aiocsv==1.3.2
aiohappyeyeballs==2.6.1
aiohttp==3.12.11
aiosignal==1.3.2
altair==5.5.0
altgraph==0.17.4
astroid==3.3.10
asttokens==3.0.0
attrs==25.3.0
black==23.12.1
blinker==1.9.0
cachetools==6.1.0
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
colorthief==0.2.1
comm==0.2.2
darkdetect==0.8.0
debugpy==1.8.14
decorator==5.2.1
dill==0.4.0
docker==7.1.0
dodgy==0.2.1
executing==2.2.0
flake8==7.2.0
flake8-polyfill==1.0.2
frida==15.2.2
frida-tools==11.0.0
frozenlist==1.6.2
gitdb==4.0.12
GitPython==3.1.44
idna==3.10
influxdb-client==1.49.0
iniconfig==2.1.0
ipykernel==6.29.5
ipython==9.3.0
ipython_pygments_lexers==1.1.1
isort==5.13.2
jedi==0.19.2
Jinja2==3.1.6
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.8.1
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
mccabe==0.7.0
multidict==6.4.4
mypy_extensions==1.1.0
narwhals==1.45.0
nest-asyncio==1.6.0
numpy==1.26.4
packaging==25.0
pandas==2.3.0
parso==0.8.4
pathspec==0.12.1
pefile==2023.2.7
pep8-naming==0.10.0
pillow==11.3.0
platformdirs==4.3.8
plotly==5.24.1
pluggy==1.6.0
prompt_toolkit==3.0.51
propcache==0.3.1
prospector==1.17.1
protobuf==6.31.1
psutil==7.0.0
pure_eval==0.2.3
pyarrow==20.0.0
pycodestyle==2.13.0
pycryptodome==3.23.0
pydeck==0.9.1
pydocstyle==6.3.0
pyflakes==3.3.2
Pygments==2.19.1
pyinstaller==6.14.0
pyinstaller-hooks-contrib==2025.4
pylint==3.3.7
pylint-celery==0.3
pylint-django==2.6.1
pylint-plugin-utils==0.8.2
PyQt-Fluent-Widgets==1.8.3
PyQt6==6.9.1
PyQt6-Fluent-Widgets==1.8.3
PyQt6-Frameless-Window==0.7.3
PyQt6-Qt6==6.9.1
PyQt6_sip==13.10.2
pyqtgraph==0.13.7
PySide6==6.9.1
PySide6_Addons==6.9.1
PySide6_Essentials==6.9.1
pytest==7.4.4
pytest-asyncio==0.21.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
pywin32==310
pywin32-ctypes==0.2.3
PyYAML==6.0.2
pyzmq==26.4.0
qasync==0.24.2
qt6-applications==6.5.0.2.3
qt6-tools==6.5.0.1.3
reactivex==4.0.4
referencing==0.36.2
requests==2.32.4
requirements-detector==1.3.2
rpds-py==0.26.0
scipy==1.16.0
semver==3.0.4
setoptconf-tmp==0.3.1
shiboken6==6.9.1
six==1.17.0
smmap==5.0.2
snowballstemmer==3.0.1
sqlcipher3-wheels==0.5.4.post0
stack-data==0.6.3
streamlit==1.46.1
streamlit-autorefresh==1.0.1
streamlit-option-menu==0.3.13
structlog==23.3.0
tenacity==9.1.2
toml==0.10.2
tomlkit==0.13.3
tornado==6.5.1
-e git+https://github.com/bdeland/TowerIQ.git@8089849f2718d98ad76ad9749e39f08f84c089da#egg=tower_iq
traitlets==5.14.3
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.5.0
watchdog==6.0.0
wcwidth==0.2.13
websockets==13.1
yarl==1.20.0
